body {
  background-color: #6cb6ff;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

.project-title {
  margin: 40px 0 20px 20px;
}

.hidden {
  visibility: hidden;
  padding: 0!important;
  margin: 0!important;
  font-size: 0!important;
  height: 0!important;
}

.grey-out {
  color:#a8565685;
}