.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-element {
  margin: 0 10px 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 0px #f9537d;
  border: 1px solid #f9537d;
  background-color: #f9537d;
  border-top: none;
  border-radius: 3px;
  flex-grow: 1;
  width: 100%;
}

.card-header {
  display: inline-block;
  width: 100%;
}

.card-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #ffffff;
}

.card-title span {
  float: left;
  width: 80%;
}

.card-title input {
  float: left;
  width: 75%;
}

.card-title .card-display-wrapper {
  display: flex;
}

.card-edit-wrapper {
  float: right;
  margin: 0;
  font-size: 1.1em;
  display: flex;
}

.card-element .icons.fas.fa-pen {
  color: #000000;
  margin-right: 5px;
}

.card-element .icons.fas.fa-pen:hover {
  color: #057214;
}

.card-element .icons.fas.fa-pen:active {
  color: #2bca05;
}

.card-element .icons.fas.fa-trash {
  color: #000000;
}

.card-element .icons.fas.fa-trash:hover {
  color: #880b1c;
}

.card-element .icons.fas.fa-trash:active {
  color: #f60e25;
}

.card-element .card-description .card-display-wrapper {
  max-height: 0;
  overflow: hidden;
}

.card-element .card-description .card-display-wrapper.show-description {
  max-height: 150px;
  overflow: auto;
}

.card-element.editing-in-progress .card-description .description-logo {
  display: none;
}

.card-element .edit-card-warning {
  color: #ffffff;
}

/*  STYLING FOR CARD WITH INPUTS   */
.add-card-button {
  display: flex;
  justify-content: center;
  margin: 0 10px 10px 10px;
  padding: 10px;
  background-color: #e1e1e1;
  border-radius: 3px;
  flex-grow: 1;
  order: 1;
}

.add-card-button:hover {
  background-color: #37b648;
  color: #ffffff;
}

.add-card-button.editing-card:hover {
  background-color: #c5c5c5;
  color: unset;
}

.add-card-wrapper .card-title {
  max-width: 100%;
}

.editing-in-progress input,
.editing-in-progress textarea,
.add-card-wrapper input, 
.add-card-wrapper textarea {
  width: 100%;
  border: none;
  box-shadow: 0px 1px 2px 0px #b6b6b6;
  border-radius: 3px;
  display: block;
  background-color: #ffffff;
  color: #000000;
}

.editing-in-progress input,
.add-card-wrapper input {
  height: 30px;
  box-sizing: border-box;
  padding: 2px 0 0 5px;
}

.editing-in-progress .card-description,
.add-card-wrapper .card-description {
  margin: 0;
}

.editing-in-progress textarea,
.add-card-wrapper textarea {
  height: 200px;
  resize: none;
  outline-color: #6cb6ff;
  box-sizing: border-box;
  padding: 2px 5px;
  margin-top: 10px;
}

.card-editing-controls.hidden  {
  height: 0;
  margin: 0;
}

.card-editing-controls,
.add-card-wrapper .card-save-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.card-editing-controls .card-edit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-editing-controls .card-edit-wrapper>div,
.add-card-wrapper .card-save-wrapper>div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-editing-controls.hidden .card-edit-wrapper>div {
  height: 0;
}

.card-editing-controls .card-edit-wrapper>div:first-child,
.add-card-wrapper .card-save-wrapper>div:first-child {  
  margin-right: 20px;
}

.card-editing-controls.hidden .card-editing-action-button {
  height: 0;
}

.card-editing-controls .card-editing-action-button,
.add-card-wrapper .card-save-action-button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
}

.card-editing-controls .save-card,
.add-card-wrapper .save-card {
  background-color: #61ff61;
  font-size: 1.8em;
  padding: 0;
  box-shadow: 0px 1px 0px 2px #009700;
}

.card-editing-controls .save-card:hover,
.add-card-wrapper .save-card:hover {
  background-color: #0ad90a;
}

.card-editing-controls .save-card:active,
.add-card-wrapper .save-card:active {
  background-color: #009700;
  box-shadow: none;
  height: 47px;
  width: 47px;
}

.card-editing-controls .discard-card,
.add-card-wrapper .discard-card {
  background-color: #fe5a78;
  font-size: 1.6em;
  box-shadow: 0px 1px 0px 2px #d90a30;
}

.card-editing-controls .discard-card:hover,
.add-card-wrapper .discard-card:hover {
  background-color: #ff002f;
}

.card-editing-controls .discard-card:active,
.add-card-wrapper .discard-card:active {
  background-color: #ea2e51;
  box-shadow: none;
  height: 47px;
  width: 47px;
}